<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CreateYourOwnSnowpark</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTest" aria-controls="navbarTest" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTest">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#">Editor</a></li>
    </ul>
  </div>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="sceneComponent.addSnowfall()">Add Snowfall</button>
  </form>
</nav>

<scene></scene>
